<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0,minimal-ui">

		<title>DD订酒-即刻就有</title>
		
		<link rel="stylesheet" type="text/css" href="/build/css/all.css?v=1517625812658" />
		<!--一些对于单页面的描述 可以在HTML临时写在本页面  当接入jsp的时候，在写入css文件-->
		<link rel="stylesheet" type="text/css" href="/plugin/style/web/phone/main/updateindex.css?v=1517625812658" />
		<script src="/build/script/all.js"></script>
		<script src="https://api.map.baidu.com/api?v=2.0&ak=1300d75f931f2d8d9b062fa0d048c03f" <!--onerror="window.location.reload()" -->>
		</script>
		<!-- /build -->
		<!--process-html插件需要用到这个注释-->
		<script src="/plugin/javascript/web/wxShare.js"></script>
		<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="/plugin/javascript/web/index.min.js?v=201805161032"></script>
		<link rel="stylesheet" href="/output.css?v=1235812658" />
		
	</head>

	<body class="">
		<!--弹出样式表-->
		<div class="active-module cbp-menu-right cbp-menu-open hide" id="new_user_icon">
			<img width="60px" src="framwork/activities/new_user_coupon/页面静止时状态.png"/>
		</div>
		<div class="new-popup-container hide" id="new-user-container">
			<!--图片容器-->
			<div class="popup-container">
			 	<div class="popup-cmt">
			 		<img style="width: 100%;" src="framwork/activities/new_user_coupon/组24拷贝.png"/> 
			 		<img class="popup-cmtButton" src="framwork/activities/new_user_coupon/按钮.png"/> 
			 	</div>
			 	<div class="old-user-container hide">
			 		<div class="fn_marginbottom15">
			 		 	<h3>这是个新用户专享红包哦,</h3>
			 		 	<h3>快分享给好友吧！</h3>
			 		</div>
			 		<div class="fn_paddingtop10">
			 			<img width="60px" src="/framwork/activities/new_user_coupon/图层1256.png"/>
			 			<p class="user_desc">微信群聊</p>
			 		</div>
			 		<div class="">
			 			 <button class="mui-button mui-btn-primary w80 mui-old-share">点击分享</button>
			 		</div>
			 	</div>
			 	<div class="popup-container-closeCmt">
			 		<img width="45px" id="popup-close" src="framwork/activities/new_user_coupon/close.png"/>
			 	</div>
			</div>
		</div>
		<header class="mui-bar mui-bar-nav mui-bar-nav-hide mui-bar-transparent mui-transitioning" style="background-color: rgba(50, 179, 175, 0);">
			<a class="mui-pull-left mui-icon qc-font-size12-imp mui-ellipsis qc-color-fff" href="/location.html" style="padding: 7px 10px !important;">
				<i class="lable-position">定位中...</i>
			</a>
			<!--<h1 class="mui-title  qc-font-size16 default-abs-color">滴滴订酒</h1>-->
			<a class=" mui-pull-right mui-icon qc-font-size12-imp qc-color-999 mui-ellipsis" href="/goods/search.html">
				<span class="iconfont icon-search fn_marginright10"></span>酒水
			</a>
		</header>
		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-active" href="javascript:;" ondblclick="window.location.reload()">
				<span class="mui-icon mui-icon-tab1"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="/goods/dailygroups.html">
				<span class="mui-icon mui-icon-tab2"></span>
				<span class="mui-tab-label">分类</span>
			</a>
			<a class="mui-tab-item" href="/order/summary.html">
				<span class="mui-icon mui-icon-tab3"></span>
				<span class="mui-tab-label">订单</span>
			</a>
			<a class="mui-tab-item" href="/user/index.html">
				<span class="mui-icon mui-icon-tab4"></span>
				<span class="mui-tab-label">我的</span>
			</a>
		</nav>
		<div class=" mui-content fn_clearpaddingtop" id="pullrefresh">
			<!--<div class="mui-scroll"> mui-scroll-wrapper-->
				<!--这里放置真实显示的DOM内容-->
				<div class="" id="body-container">
					<div class="spinner-child " >
						<div class="rect1"></div>
						<div class="rect2"></div>
						<div class="rect3"></div>
						<div class="rect4"></div>
						<div class="rect5"></div>
					</div>
				</div>
			<!--</div>-->
		</div>
		<script type="text/html" id="tmpl-body">
				<div id="slider" class="mui-slider" style="min-height: 120px;background-color: #efefef;">
					 {{include 'tmpl-slider' $data.carousels}}	
				</div>
				<!--end slider -->
				<div class="mod_banner">
					<img src="/framwork/global_icon/index/staticImg/headIcon@3x.png" class="w100 mui-block" />
				</div>
				<!--end banner-->
				<div class="mod_nav">
					<nav class="mod_nav_list">
						<a href="/goods/dailygroups.html?tagId=1" class="mod_nav_list_item">
							<span class="mod_nav_list_item_logo">
							<img src="/framwork/global_icon/lazyload/LOGO100100.jpg" data-lazyload="/framwork/global_icon/index/bar/红酒@2x.png"/>
						</span>
							<p class="mod_nav_list_item_name">红酒</p>
						</a>
						<a href="/goods/dailygroups.html?tagId=2" class="mod_nav_list_item">
							<span class="mod_nav_list_item_logo">
							<img src="/framwork/global_icon/lazyload/LOGO100100.jpg" data-lazyload="/framwork/global_icon/index/bar/洋酒@2x.png"/>
						</span>
							<p class="mod_nav_list_item_name">洋酒</p>
						</a>
						<a href="/userActivity/preferential.html" class="mod_nav_list_item">
							<span class="mod_nav_list_item_logo">
							<img src="/framwork/global_icon/lazyload/LOGO100100.jpg" data-lazyload="/framwork/global_icon/index/bar/特惠专区@2x.png"/>
						</span>
							<p class="mod_nav_list_item_name">特惠专区</p>
						</a>
						<a href="/goods/dailygroups.html?tagId=3" class="mod_nav_list_item">
							<span class="mod_nav_list_item_logo">
							<img src="/framwork/global_icon/lazyload/LOGO100100.jpg" data-lazyload="/framwork/global_icon/index/bar/白酒@2x.png"/>
						</span>
							<p class="mod_nav_list_item_name">白酒</p>
						</a>
						<a href="/goods/dailygroups.html?tagId=4" class="mod_nav_list_item">
							<span class="mod_nav_list_item_logo">
							<img src="/framwork/global_icon/lazyload/LOGO100100.jpg" data-lazyload="/framwork/global_icon/index/bar/啤酒@2x.png"/>
						</span>
							<p class="mod_nav_list_item_name">啤酒</p>
						</a>
					</nav>
				</div>
				<!--end nav-->
				<div class="mod_sale">
					{{include 'tmpl-daily' $data.dailySeckills}}
				</div>
				<!--END 秒杀-->
				{{include 'tmpl-plate' $data.plate}}
				
				<!--end 专区-->
				<div class="mod_tag">
					<div class="mod_tag_list">
						<span class="mod_tag_list_head">送礼·宴会</span>
					</div>
					<div class="mod_tags_item">
						<div class="mod_tags_item_list">
							<a href="/goods/brands.html?tagId=11">
								<div class="mod_tags_item_list_content">
									<img src="framwork/global_icon/index/staticImg/朋友聚会@2x.png" class="w100" />
									<span>朋友聚会</span>
								</div>
								<div class="mod_tags_item_list_context bg_one">
									<p class="pd_top">和孤独碰面,</p>
									<p class="pd_bot mui-ellipsis">不如与朋友碰杯.</p>
									<span class="bg_one">点击了解</span>
								</div>
							</a>
						</div>
						<div class="mod_tags_item_list">
							<a href="/goods/brands.html?tagId=10">
								<div class="mod_tags_item_list_content">
									<img src="framwork/global_icon/index/staticImg/商务婚礼@2x.png" class="w100" />
									<span>商务·婚礼</span>
								</div>
								<div class="mod_tags_item_list_context bg_two">
									<p class="pd_top">身边的人,</p>
									<p class="pd_bot mui-ellipsis">才是节日最重要的装点.</p>
									<span class="bg_two">点击了解</span>
								</div>
							</a>
						</div>
						<div class="mod_tags_item_list">
							<a href="/goods/brands.html?tagId=9">
								<div class="mod_tags_item_list_content ">
									<img src="framwork/global_icon/index/staticImg/送礼@2x.png" class="w100" />
									<span>送礼·高档品质</span>
								</div>
								<div class="mod_tags_item_list_context bg_three">
									<p class="pd_top">不一样的心意,</p>
									<p class="pd_bot mui-ellipsis">方显得体.</p>
									<span class="bg_three">点击了解</span>
								</div>
							</a>
						</div>
					</div>
				</div>
				<!--END type-->
				<div class="mod_tag">
					<div class="mod_tag_list">
						<span class="mod_tag_list_head">附近联盟商</span>
					</div>
					{{ include 'tmpl-store' $data.indexStores}}
				</div>
		</script>
		<script type="text/html" id="tmpl-slider">
			{{if $data.length > 0}}
			<div class="mui-slider-group mui-slider-loop">
				<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="{{$data[$data.length - 1].link}}">
						<img src="{{$data[$data.length - 1].imgUrl}}" />
					</a>
				</div>
				{{each $data as $value i}}
				<!-- 第i张 -->
				<div class="mui-slider-item">
					<a href="{{$value.link}}">
						<img src="{{$value.imgUrl}}" />
					</a>
				</div>
				{{/each}}
				<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="{{$data[0].link}}">
						<img src="{{$data[0].imgUrl}}" />
					</a>
				</div>
			</div>
			<div class="mui-slider-indicator mui-text-center" style="bottom: 0px;">
				{{each $data as $value i}}
				<div class="mui-indicator {{if i == 0}}mui-active{{/if}}"></div>
				{{/each}}
			</div>
			{{/if}}
		</script>
		<!--秒杀-->
		<script type="text/html" id="tmpl-daily">
			<div class="mod_sale_top">
				<span class="mod_sale_top_ltTitle">
			    <i class="iconfont">&#xe68f;</i><i class="mod_sale_top_ltTitle_i">限时秒杀</i>
			</span>
				<span class="mod_sale_top_rightTitle">
				<i>秒杀专场时间  【<b>{{$data.startTime}}-{{$data.endTime}}</b>】</i>
			</span>
			</div>
			<div class="mod_sale_time">
				<span class="iconfont">&#xe68e;</span>
				<span class="mod_sale_time_title">距离本场结束</span>
				<span class="mod_sale_time_cmp" data-start="{{$data.startTime}}" data-end="{{$data.endTime}}">
					<i class="bg-000">0</i>
					<i class="bg-000">0</i>
					<b>:</b>
					<i class="bg-000">0</i>
					<i class="bg-000">0</i>
					<b>:</b>
					<i class="bg-red">0</i>
					<i class="bg-red">0</i>
				</span>
			</div>
			<div class="mui-row">
				{{each $data.items as $value i}}
					<div class="mui-col-xs-4  ">
						<a href="/goods/view.html?goodsId={{$value.id}}">
							<img src="/framwork/global_icon/lazyload/LOGO100100.jpg" data-lazyload="{{$value.imgUrl}}" class="w100 mui-block">
							<i class="mui-block mui-ellipsis mod_name">{{$value.name}} </i>
							<p class="mod_context"><i class="price">&yen;{{$value.price}} /</i> &yen;{{$value.goodsPrice}}</p>
							<!--<p class="mod_state"><i>已售</i></p>-->
						</a>
					</div>
				{{/each}}
			</div>
		</script>
		<!--END 秒杀-->
		<script type="text/html" id="tmpl-plate">
			{{each $data as $value i}}
				<div class="mod_tag">
					<div class="mod_tag_list">
						<span class="mod_tag_list_head">{{$value.bannerName}}</span>
					</div>
					<div class="mod_tag_item">
						<div class="mod_tag_item_banner">
							<a href="{{$value.href}}">
								<img src="/framwork/global_icon/lazyload/banner650300.jpg" data-lazyload="{{$value.bannerImgUrl}}" class="w100 mui-block" />
							</a>
						</div>
						<ul class="mod_tag_item_list">
							{{each $value.items as $item j}}
								<li class="mod_qu_item">
									<a href="/goods/view.html?goodsId={{$item.id}}">
										<div class="mod_qu_item_img">
											<img src="{{$item.imgUrl}}" class="w100 mui-block" />
											
										</div>
										<div class="mod_qu_item_content">
											{{if $item.imgDesc != ""}}
												 <p class="mod_qu_item_content_type {{'type'+i}}">{{$item.imgDesc}}</p>
											{{/if}}
											<p class="mod_qu_item_content_title mui-ellipsis-2">
												{{if $item.selfRun}}
												<span class="mui-badge mui-badge-big mui-badge-sale">自营</span>
												{{/if}}
												{{$item.name}}
											</p>
											{{if $item.tagDesc != ""}}
											<p class="mod_qu_item_content_desc mui-ellipsis ">{{$item.tagDesc}}</p>
											{{/if}}
											<p class="mod_qu_item_content_price"><i>&yen;{{$item.price}}</i>/{{if $item.id == 12}}箱{{else}}瓶{{/if}}
												<span>抢购</span>
											</p>
										</div>
									</a>
								</li>
							{{/each}}
						</ul>
					</div>
				</div>
			{{/each}}
		</script>
		<!--END 专区-->
		<script type="text/html" id="tmpl-store">
			<div class="mod_store">
				<div class="mod_store_head">
					{{if $data.length > 0}}
					<p class="mod_store_head_desc">
						亲,您的附近目前有{{$data.length}}家联盟商,可点击进店查看~
					</p>
					{{else}}
					<p class="mod_store_head_desc" style="">
						亲,您的附近暂无联盟商家哦~
					</p>
					{{/if}}
				</div>
				<div class="mod_store_content">
					<ul class="mod_store_content_list">
						{{each $data as $value i}}
							<li class="mod_store_content_list_item">
								<a href="/store/view.html?storeId={{$value.id}}" class="mod_store_content_list_url">
									<div class="mod_store_item_cover">
										<img src="/framwork/global_icon/lazyload/LOGO100100.jpg" data-lazyload="{{$value.imgUrl}}" />
									</div>
									<p class="mod_store_item_name">{{$value.name}}</p>
									<div class="mod_store_item_module">
										<span><i class="icon"></i> 金牌卖家</span>
										<span>
						 				推荐度:
						 				<i class="icon"></i> 
						 				<i class="icon"></i> 
						 				<i class="icon"></i> 
						 				<i class="icon"></i> 
						 				<i class="icon"></i> 
						 			</span>
									</div>
									<p class="mod_store_item_distance"><i class="icon"></i> 距离您当前距离：{{Math_PI $value.longitude $value.latitude 1}}km</p>
									<p class="mod_store_item_desc">商家配送 | 免配送费 | 最快{{Math_PI $value.longitude $value.latitude 2}}分钟可送达</p>
								</a>
							</li>
						{{/each}}
					</ul>
				</div>
			</div>
		</script>
		<script>
			template.helper('Math_PI', function(lng, lat,type) {
				//return Math.ceil((distance / 1000) * 20);

				var body = document.body;
				if(body.dataset.lng == undefined) {
					console.log('参数失效');
					return;
				}
				var map = new BMap.Map();
				var selfPoint = new BMap.Point(body.dataset.lng, body.dataset.lat);
				var bPoint = new BMap.Point(lng, lat);

				var distance = parseInt(map.getDistance(selfPoint, bPoint));

				var countDistance = distance - 1000;
				var rd = countDistance / 1000;
				var mins = 19;

				if(rd > 0)
					mins = mins + Math.round(rd * 8);

				var selfDistance = (distance / 1000).toFixed(2);
				/*	selfDistance = distance == 0 ? "距离不远" : selfDistance;*/
				//			'<span class=" fn_paddingright5 qc-color-666">'+
				//						+mins+'分钟'+
				//					'</span>'+
				if(type == 2){
					return mins;
				}
				return selfDistance;
				

			});
			mui.ready(function() {
				
				window.home.init();

			});
		</script>

	</body>

</html>